<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2>
    <%= t ".this_is" %> <%= link_to t(".rort"), t(".link_rails") %>
    <%= t ".sample_app" %>
  </h2>
  <%= link_to t(".signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
