<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<%= will_paginate %>
<div class="row">
  <table class="table table-hover">
  <thead>
    <tr>
      <th><%= t ".user" %></th>
      <th><%= t ".email" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= gravatar_for user, size: Settings.user.gravatar_size %>
          <%= link_to user.name, user %>
        </td>
        <td class="btn btn-info"><%= user.email %></td>
        <td>
          <% if current_user.is_admin? && !user.is_user?(current_user) %>
            <%= link_to t(".delete"), user, method: :delete,
              data: {confirm: t(".sure")}, class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= will_paginate %>
