<li id="micropost-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: Settings.user.gravatar_size),
    post.user %>
  <span class="user"><%= link_to post.user.name, post.user %></span>
  <span class="content">
    <%= post.body %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
  <span class="timestamp">
    <%= t ".posted" %> <%= time_ago_in_words post.created_at %> <%= t ".ago" %>
    <% if is_user? post.user %>
      <%= link_to t(".delete"), post, method: :delete, class: "btn btn-danger",
        data: {confirm: t(".confirm")} %>
    <% end %>
  </span>
</li>
