<li id="micropost-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: Settings.user.gravatar_size),
    post.user %>
  <h3><%= link_to post.user.name, post.user %></h3>
  <span class="content">
    <h3><%= post.title %></h3>
    <%= image_tag post.picture.url if post.picture? %>
    <p><%= post.body %></p>
  </span>
  <span class="timestamp">
    <%= t ".posted" %> <%= time_ago_in_words post.created_at %> <%= t ".ago" %>
    <% if is_user? post.user %>
      <%= link_to t(".delete"), post, method: :delete, class: "btn btn-danger",
        data: {confirm: t(".confirm")} %>
    <% end %>
  </span>
  <div>
    <%= render "comments/list_comment_post", comments: post.comments %>
  </div>

  <div id="comment-form-<%= post.id %>">
    <% if logged_in? && (current_user.following?(post.user) || is_user?(current_user)) %>
      <%= render "comments/comment_form", post: post, comment: post.comments.build %>
    <% end %>
  </div>
</li>
