<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ror"), t(".link_book") %>
    <%= t ".by" %> <%= link_to t(".author"), t(".link_author") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".link_new") %></li>
    </ul>
  </nav>
</footer>
